// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.container {
    padding: 8px 0;
    margin-top: 10px;
    min-height: 300px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}

.selected-image {
    border: 2px solid tomato;
}

/* Wizard */
.wizard {
    li {
        display: inline-block;
        text-align: center;
        line-height: 4.5rem;
        padding: 0 0.7rem;
        cursor: pointer;
        &:before {
            position: relative;
            bottom: -3.99rem;
            float: left;
            left: 50%;
            width: 1.2em;
        }
        &:hover,
        &::before {
            color: #0fa0ce;
        }
        span {
            padding: 0 1.5rem;
        }
    }

    .todo {
        color: silver;
        border-bottom: 4px solid silver;
        &:before {
            color: silver;
            background-color: #f8fafc;
            line-height: 1.2em;
            border-radius: 0;
        }
    }

    .doing {
        color: black;
        border-bottom: 4px solid #33c3f0;
        &:before {
            color: white;
            background-color: #33c3f0;
            line-height: 1.4em;
            border-radius: 1.2em;
        }
    }

    .done {
        color: black;
        border-bottom: 4px solid #33c3f0;
        &:before {
            color: white;
            background-color: #33c3f0;
            line-height: 1.4em;
            border-radius: 1.2em;
        }
    }
}
